body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);



}
.nav-wrapper { 
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

} 
.abc{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
h3{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
.brand-logo{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
p{
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}


.mycard{
	margin-top:40px;
}
.auth-card{
	padding:20px;
	text-align:center;
	max-width: 400px;
	margin:10px auto;
}
.card{
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.input-field input:focus {
	border-bottom:1px solid #f50057 !important;
	box-shadow: 0 1px 0 0 #f50057 !important;
}
.input-filled input:focus {
	border-bottom:1px solid #f50057 !important;
	box-shadow: 0 1px 0 0 #f50057 !important;
}
.flex{
  display: flex;
  justify-content: center;
}